@font-face {
  font-family: 'primaryFont';
  src: url('./Azonix.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bodyFont';
  src: url('./neuropolitical.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
  