

.lp-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 50%;
  height: auto;
  max-height: 70%;
  padding: 40px 20px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 0%, 0.7);
  border: 3px solid #ff7f50;
}



.lp-title {
    width: 800px;
    border-radius: 50px;
    font-size: 72px;
    color: #ffffff;
    text-align: center;
}
.lp-title span {
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  font-size: 100px;

  background: linear-gradient(270deg, #ff7f50, #1e90ff, #da00bd);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 3s ease infinite, textTracking 5s linear forwards;
}

@keyframes textTracking {
  0% {
    letter-spacing: 0px;
  }
  100% {
    letter-spacing: 30px;
  }
}



/* Gradient animation keyframes */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
