

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 50%;
  max-height: 50%;
  padding: 20px;
  border-radius: 10px;
  background-color: hsla(219, 71%, 56%, 0.4);
  border: 3px solid #377dff;
}



.title {
    width: 800px;
    /* background-color: rgb(0, 0, 0, .5); */
    border-radius: 50px;
    /* padding: 20px; */
    font-size: 72px;
    color: #ffffff;
    text-align: center;
}
.title span {
  color: blueviolet;
  /* background-color: #ffffff; */
  color: #8fb6ff;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 30px;
  animation: textTracking 3s linear;
  text-align: center;
}

@keyframes textTracking {
  0% {
    letter-spacing: normal;
  }
  100% {
    letter-spacing: 30px;
  }
}
