/* ProfileNav.css */
.container {
  width: 100%;
  height: 100%;
  /* display: flex;
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  padding: 20px;
  width: 100%;
  height: 40%;
  overflow: hidden;
  padding: 30px; */
  /* z-index: 100; */
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  padding: 20px;
  background-color: hsla(219, 71%, 56%, 0.4);
  border: 3px solid #377dff;
  border-radius: 10px;
  z-index: 100;
  animation: expandOverlayWidth .4s ease-in-out forwards, expandOverlayHeight .4s ease-in-out forwards, increaseOpacity .2s ease-in-out;
}
.nav-body-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.profile-nav-container {
  /* position: relative; */
  /* width: 0; */
  /* top: 50%; */
  /* padding-left: 200px; */
  /* transform: translate(-50%, -50%); */
  background-color: rgba(0, 16, 87, 0.7);
  /* z-index: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #377dff;
  animation: expandWidth .1s ease-in-out forwards, increaseOpacity .4s ease-in-out;
  /* animation-delay: .5s; */
}


/* .container {
  display: flex;
  height: 100vh;
} */

/* .nav-body-container {
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
} */


/* Keyframe for expanding width */
@keyframes expandWidth {
  from {
    width: 0px;
  }
  to {
    width: 400px;
  }
}
@keyframes expandOverlayWidth {
  from {
    max-width: 0px;
  }
  to {
    max-width: 100%;
  }
}
@keyframes expandOverlayHeight {
  from {
    max-height: 0px;
  }
  to {
    max-height: 100%;
  }
}

@keyframes increaseOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.profile-nav-items-container {
  /* display: flex; */
  /* justify-content: space-around; */
  width: 100%;
  /* padding-bottom: 20px; */
}

.profile-nav-item-box {
  /* padding: 20px; */
  margin: 0;
  padding-bottom: 0;
}

.profile-nav-item {
  display: flex;
  padding: 35px;
  padding-right: 25px;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  border-bottom: 2px solid #dfbb47;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: width 0.3s ease-in-out, color 0.3s ease-in-out; /* Added transition for color */
}

.profile-nav-item:hover {
  width: 90%;
  color: #dfbb47;
}

.profile-nav-item:active {
  color: #dfbb47;
  font-size: 22px;
}

.profile-nav-item.active {
  width: 90%;
  color: #dfbb47;
}

.profile-nav-item span {
  /* font-family: 'primaryFont'; */
  font-family: 'azonix';
  text-transform: uppercase;
  /* font-size: 36px; */
  margin-bottom: 10px;

}

.profile-nav-item i {
  font-size: 36px;
  margin-bottom: 10px;
}

.slide-in-left-0 {
  animation-name: slide-in-left;
 }

.slide-in-left-delay-1 {
  animation-name: slide-in-left;
  animation-delay: 0.1s;
}

.slide-in-left-delay-2 {
  animation-name: slide-in-left;
  animation-delay: 0.2s;
}

.slide-in-left-delay-3 {
  animation-name: slide-in-left;
  animation-delay: 0.3s;
}

.slide-in-left-delay-4 {
  animation-name: slide-in-left;
  animation-delay: 0.4s;
}

.slide-in-up {
  animation-name: slide-in-up;
}

.slide-in-right {
  animation-name: slide-in-right;
}

.slide-in-down {
  animation-name: slide-in-down;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-up {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-down {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}